{% extends 'base.html.twig' %}
{% block title %}Page index{% endblock %}
{% block body %}
    

    <link rel="stylesheet" href="/css/index-bdd.css">
    <link rel="stylesheet" href="/css/add-admin.css">
    <br><br><br><br><br><br>
    <div align='center'>
        <button type="button" class="buttonadd" onclick="window.location.href = '{{ path('app_page_new') }}';">
            <span class="buttonadd__text">Pages</span>
            <span class="buttonadd__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
        </button>
    </div>
    <div class="grid-container">
        {% for page in pages %}
            <div class="containerp">
                <div class="cardp">
                    <p class="titlep">{{ page.title }}</p>
                    <div class="cardp-hidden">
                        <p class="titlep-in">{{ page.title }}</p>
                        <p>ID de la page : {{ page.id }}</p>
                        {# <a class="buttonp" data-bs-toggle="offcanvas" href="#offcanvas{{ page.title }}" role="button" aria-controls="offcanvas{{ page.title }}">Gestion</a> #}
                        <a class="buttonp" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ page.title }}Modal">Gestion</a>
                    </div>
                </div> 
                <div class="cardp-border"></div>
            </div>
            <div class="modal fade" id="{{ page.title }}Modal" tabindex="-1" aria-labelledby="{{ page.title }}ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                    <div class="modal-header bg-dark text-white">
                        <h1 class="modal-title fs-5" id="{{ page.title }}ModalLabel">{{ page.title }}</h1>
                        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" align='center'>
                        Ici vous pouvez gérer les différentes actions liées à la page que vous venez de sélectionner. Attention, tout changement est irréversible.

                    </div>
                    <div class="modal-footer" align="center">
                        <a  class="buttonaction" href="{{ path('app_page_show', {'id': page.id}) }}">Afficher</a>
                        <a  class="buttonaction" href="{{ path('app_page_edit', {'id': page.id}) }}">Modifier</a>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
