{% extends 'base.html.twig' %}
  {% block head %}
    <title>{% block title %}URHAJ Normandie | Profil - Réseaux{% endblock %}</title>
    {% block icon %}<link rel='icon' href='/img/icone.ico'>{% endblock %}
  {% endblock %}
{% block body %}
<link rel="stylesheet" href="/css/template-form-admin.css">

<div class="form">
    <br><br>    
    <div class="title">Réseaux</div>
    <div class="subtitle">Partagez vos réseaux</div>

    {{ form_start(form) }}
    <div class="input-container ic1">
        {{ form_widget(form.facebook, { 'attr': {'placeholder': '', 'class': 'input', 'data-placeholder': 'Facebook', 'onfocus': "if(this.value=='') { this.classList.add('has-value'); this.parentElement.classList.add('has-value'); }", 'onblur': "if(this.value=='') { this.classList.remove('has-value'); this.parentElement.classList.remove('has-value'); }"} }) }}
        <div class="cut"></div>
        <label class="iLabel" for="{{ form.facebook.vars.id }}">Facebook</label>
    </div>

    <div class="input-container ic2">
        {{ form_widget(form.twitter, { 'attr': {'placeholder': '', 'class': 'input', 'data-placeholder': 'Twitter', 'onfocus': "if(this.value=='') { this.classList.add('has-value'); this.parentElement.classList.add('has-value'); }", 'onblur': "if(this.value=='') { this.classList.remove('has-value'); this.parentElement.classList.remove('has-value'); }"} }) }}
        <div class="cut"></div>
        <label class="iLabel" for="{{ form.twitter.vars.id }}">Twitter</label>
    </div>
    <div class="input-container ic2">
        {{ form_widget(form.linkedin, { 'attr': {'placeholder': '', 'class': 'input', 'data-placeholder': 'Linkedin', 'onfocus': "if(this.value=='') { this.classList.add('has-value'); this.parentElement.classList.add('has-value'); }", 'onblur': "if(this.value=='') { this.classList.remove('has-value'); this.parentElement.classList.remove('has-value'); }"} }) }}
        <div class="cut cut-short"></div>
        <label class="iLabel" for="{{ form.linkedin.vars.id }}">Linkedin</label>
    </div>
    <div class="input-container ic2">
        {{ form_widget(form.instagram, { 'attr': {'placeholder': '', 'class': 'input', 'data-placeholder': 'Instagram', 'onfocus': "if(this.value=='') { this.classList.add('has-value'); this.parentElement.classList.add('has-value'); }", 'onblur': "if(this.value=='') { this.classList.remove('has-value'); this.parentElement.classList.remove('has-value'); }"} }) }}
        <div class="cut cut-short"></div>
        <label class="iLabel" for="{{ form.instagram.vars.id }}">Instagram</label>
    </div>
    <br>
    <button type="submit" class="buttonsend">
        <div class="svg-wrapper-1">
            <div class="svg-wrapper">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z" fill="currentColor"></path>
            </svg>
            </div>
        </div>
        <span>Enregistrer</span>
    </button>
    {{ form_end(form) }}
</div>

<br>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Écoutez l'événement "input" sur chaque champ de texte
    $('.input').on('input', function() {
        var inputValue = $(this).val(); // Récupérez la valeur du champ de texte
        var placeholder = $(this).data('placeholder'); // Récupérez le placeholder d'origine depuis l'attribut "data-placeholder"
        
        // Ajoutez ou supprimez la classe "has-value" selon que le champ contient du texte ou est vide
        if (inputValue !== '') {
            $(this).addClass('has-value');
        } else {
            $(this).removeClass('has-value');
        }
    });
});
</script>
{% endblock %}